* {
    margin: 0;
    padding: 0;
}

p.effect-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  
  &:before {
    top: 0;
    left: 0;
    width: 0;
    color: #262626;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 0.9s;
  }
  
  &:hover {
    
    &:before {
      width: 100%;
    }
  }
}


